@import url('https://fonts.googleapis.com/css?family=Cinzel|Lato:300,400,900|Open+Sans:800');
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    /*overflow: hidden;*/
    margin:0;
    height: 100%;
    margin-top: 0 !important;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* { margin: 0; padding: 0; }
body{
    overflow: hidden;
    margin:0;
    height: 100%;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 24px;
}
body[data-aos-duration='1500'] [data-aos],
  [data-aos][data-aos][data-aos-duration='1500'] {
    transition-duration: 1500ms;
  }
button{
  outline: none !important;
}
hr.line{
  margin: 0.5em 0;
  border-top: 1.5px solid #000000;
  text-align: center;
}
hr.line:after{
  content: "\f06c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1em;
  display:inline-block;
  position: relative;
    top: -0.7em;
    right: 2px;
    padding: 0 0.25em;
    color: #539c45;
    background: #ffffff;

}
/*NAVIGATION*/
/*#navigation{
      position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}*/
#nav.navbar{

    position: absolute;
    bottom: 0;
    /*top: 15%;
    left: 50%;*/
    width: 100%;
    /*transform: translate(-50%, -50%);*/
    text-transform: uppercase;
    letter-spacing: 0.5px;
    z-index: 9999;
    padding: 0.3rem 0.5rem;
    background-color: #57a34f8f;
}
.nav-item{
 margin: 0 3px;
}
a.navbar-brand{
  font-family: 'Cinzel',serif;
  color: #ffffff;
}
.nav-link{
  font-family: 'Lato',sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    color: #ffffff;
}
a.nav-link{

}
a.nav-link:hover{
  color: #ffffff;
  outline: 2px solid #ffffff;
}
.custom-toggler,i.fas.fa-bars {
  color: #ffffff;
}

.custom-toggler.navbar-toggler {
  border-color: #ffffff;
  padding: 8px 13px;
} 

.menu {
  /*cursor: pointer;*/
    width: 50px;
    height: 50px;
    border-radius: 5%;
    background-color: #75b149;
    box-shadow: 1px 1px 10px 0px #557709;
    text-align: center;
    color: white;
    position: fixed;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 999;
    top: 0;
    left: 0;
    margin: 5px;
}
.menu.pot-color{
  background-color: #f37438;
  box-shadow: 1px 1px 10px 0px #924724;
}
#fa.fa {
  font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    position: absolute;
    top: 25%;
    left: 28%;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

#menu.menuClicked .fa {
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all 0.1s ease-in-out;
  
}

.menuClicked{
  width: 200px;
  height: 300px;
  border-radius: 2px;

}

.menu ul {
  display: none;
}

.menuClicked ul {
  display: block;
  list-style-type: none;
    color: white;
    display: block;
    margin-top: 30px;
    position: absolute;
    top: 10px;
    right: 20%;
    width: 60%;
}

.menuClicked ul a {
  font-family: 'Roboto', sans-serif;
  font-weignt: 700;
  font: roboto;
  text-decoration: none;
  color: white;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.menuClicked ul a:hover {
  color: #d8d8d8;
}

.menuClicked ul li {
  border-bottom: 1px solid white;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
/*........*/

/*INTRO SECTION*/
#intro-section.intro-section{
  opacity: 0;
    margin:0 0 0 0;
    min-height: calc(var(--vh, 1vh) * 100);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
.large-header{
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.intro{
    position: relative;
    width: 100%;
    background-color: #579d48;
    /*background-image: url('../img/grass.jpg');*/
    background-image: url('../img/13151618_1168143653209856_6333935745001863173_n.jpg');
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*-webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
  animation: bg-zoom 20s infinite ease-in-out;
}
.intro:before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #4e4e4e;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}
.hero-content {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 28%;
    transform: translate(-50%, -50%);
}
.intro-img{
    width: 60%;
}
.intro-text h1{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 3.5rem;  
    line-height: 1;
    text-transform: uppercase;
    color: #ffffff;
}
@-webkit-keyframes bg-zoom {
  0%   { -webkit-transform: scale(1,1); }
  50% { -webkit-transform: scale(1.1,1.1); }
  100% { -webkit-transform: scale(1,1); }
}
@-moz-keyframes bg-zoom {
  0%   { -moz-transform: scale(1,1); }
  50% { -moz-transform: scale(1.1,1.1); }
  100% { -moz-transform: scale(1,1); }
}
@keyframes bg-zoom {
  0%   { transform: scale(1,1); }
  50% { transform: scale(1.1,1.1); }
  100% { transform: scale(1,1); }
}
/*........*/

/*ABOUT SECTION*/
#about{
  position: relative;
  min-height: 100vh;
  /*height: 100vh;
  height: calc(var(--vh, 1vh) * 100);*/
  background-color: transparent;
  overflow: hidden;
}
.about-heading{
  margin:auto 0;
}
.about-heading h1{
  font-family: 'Lato',sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.about-content{
    position: relative;
    top: 40px;
    width: 100%;
    z-index: 2;
}
.services-list ul{
  color: #539c45;
  margin-right: 4rem;
  margin-bottom: 0;
}
.services-list span{
  color: #000000;
}

.fb-container{
  overflow-y: scroll; 
  -webkit-overflow-scrolling: touch;
  min-height: 600px;
  height: 600px;
}
.fb-page-wrapper{
  position: relative;left:2px;
  padding: 10px 0;
}
.fb-wrapper{
  background-color: #539c45;
}
.fb-text{
  font-family: 'Open Sans',sans-serif;
    font-weight: 900;
    color: #ffffff;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    bottom: 10%;
    right: 35%;
    text-transform: uppercase;
}
.fb-text h3{
  font-size: 2.8rem;
}
#green{
  position: relative;
  height: 0;
  background-image: url('../img/green.png');
  background-size: cover;
  /*background-color: #008000;*/
}
.green{
  background-image: url('../img/green.png');
  background-size: cover;
      background-color: #a3d269;
    height: 120vh;
    width: 100vw;
    position: relative;
    bottom: 100px;
    z-index: -1;
}
.grass{
  position: absolute;
  bottom: -90px;
}
/*..........*/

/*GALLERY*/

#gallery{
  padding-top: 1.8rem;
  min-height: 100vh;
  background-image: url('../img/green.png');
  background-size: cover;
  /*background-color: #a3d269;*/
}
.gallery{
  position: relative;
  z-index: 5;
}
#gallery .gallery-heading{
  margin:auto 4rem;
}
#gallery .gallery h1{
  font-family: 'Lato',sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
}
#gallery hr.line:after {
    background-image: url('../img/green.png');
}


[class^=imghvr-] *{
  margin: auto;
  color: #92ff43;
}
[class*=" imghvr-"], [class^=imghvr-] {
  background:transparent;
}
[class*=" imghvr-"] figcaption, [class^=imghvr-] figcaption {
  background: transparent;
  text-align: center;
  display: flex;
  padding: 0;
}
.imghvr-blur:hover>img {
  -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    opacity: 1;
}
.imghvr-blur{
  outline: 3px solid #92ff43;
  box-shadow: 0 0 20px 0px #4c4c4c;
}
/*.......*/

.pot-head{
  height: 85px; background-color: #9e4315;
  box-shadow: -1px -1px 20px 0px #4a1800 inset;
}
.emboss {
    box-shadow: 0 -30px 50px #777 inset !important;
   /* border: 15px solid #bbb !important;*/
}
.bevel {
    box-shadow: 0 -30px 50px #aaa inset, 0 0 15px #222 inset !important;
    /*border: 15px solid #bbb !important;*/
}

/*CONTACT PAGE*/
#contact hr.line:after {
    color: #4fdc34;
    background: #ce6d3d;
}
.contact-us{
  background-color: #ce6d3d;
  position: relative;
  z-index: 99;
}
input,textarea,button{
  font-size: 18px !important; 
  outline: none !important;
  box-shadow: none !important;
}
.form-control:focus{
  border-color: #ce561b;
}
.form-wrapper{
  padding: 8px;
  /*background-color: #eee;*/
  background: #D1D1D1;
    background: -moz-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
    background: -webkit-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
    background: -o-repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
    background: repeating-linear-gradient(-45deg, #EFC1CB , #EFC1CB 30px, #F2F2F2 30px, #F2F2F2 40px, #C2E8F5 40px, #C2E8F5 70px,#F2F2F2 70px, #F2F2F2 80px);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 3px 10px #3F3F3F;
    -moz-box-shadow: 0px 3px 10px #3F3F3F;
}
.form{
  background-color: #eeeeee;
    padding: 15px;
    border-radius: 8px;
}
#sendMessageButton{
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: #ec9c67;
  color: #ffffff;
}
#sendMessageButton:hover{
  background-color: #ce8b5f;
}
.contact-info,.contact-info h1,.form-header h1{
  position: relative;
  font-family: 'Lato',sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
.form-header h1:before {
    position: absolute;
    bottom: 15px;
    content: ' ';
    text-align: center;
    display: block;
    height: 2px;
    width: 100%;
    background-position: 50% 50%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(182,180,180,0.7) 42%, rgba(180,178,178,0) 43%, rgba(168,166,166,0) 50%, rgba(180,178,178,0) 57%, rgba(182,180,180,0.7) 58%, rgba(238,237,237,0.3) 90%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(182,180,180,0.7)), color-stop(43%,rgba(180,178,178,0)), color-stop(50%,rgba(168,166,166,0)), color-stop(57%,rgba(180,178,178,0)), color-stop(58%,rgba(182,180,180,0.7)), color-stop(90%,rgba(238,237,237,0.3)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%);
    background: linear-gradient(left, rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%);
}
.form-header h1:after {
    font-size: 25px;
    color: #D6CFCB;
    content: '\f0e0';
    text-align: center;
    display: block;
    width: 100%;
    font-family: "Font Awesome 5 Free";
    text-shadow: 0px 1px 0px #fff;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
#contact .list-group-item {
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
  text-align: left;
  background-color: transparent;
  padding: 8px 1.25rem;
  overflow: hidden;
}
#contact .fas,#contact .fab{
  position: relative;
  top: 4px;
  color: #772c06;
}
#contact .contact-logo{
  position: absolute;
    z-index: 1;
    left: 0;
}
#contact a{
  color: initial;
  text-decoration: none;
}
.alert {
  font-size: 1rem;
   margin: 0;
    display: block;
    bottom: 240px;
    position: absolute;
    left: 0;
    right: 0;
    margin: -65px auto;
    width: 200px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
    z-index: 500;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 300px !important;
    margin: -110px auto !important;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -5px;
}


/*FOOTER*/
.footer {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 75%;
 background-color: #af5931;
 text-align: center;
 padding:1rem 0; 
 color: #311000;
 text-transform: uppercase;
 letter-spacing: 0.5px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.hidden {
    display: none !important;
}

.rotate {

/* Safari */
-webkit-transform: rotate(90deg);

/* Firefox */
-moz-transform: rotate(90deg);

/* IE */
-ms-transform: rotate(90deg);

/* Opera */
-o-transform: rotate(90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
.rotate3d{
  -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate3d(0,0,1,0deg);
}
/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Smartphones ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px){
.navbar-nav .nav-link {
    padding-right: 5px;
    padding-left: 5px;
}
.menu{
  bottom: 0;
  top: auto;
}
.nav-item{
  margin: 0 15px;
}
.nav-link{
  font-size: 1rem;
}
.intro{
  background-position: 75% 50%;
}
    .intro-img{
    width: 100%;
}
.hero-content {
    top: 12%;
    left: 50%;
}
.fb-text{
    width: 100%;
    white-space: normal;
    position: initial;
    text-transform: uppercase;
    padding: 10px 0;
    text-align: center;
    overflow:hidden;
}
.fb-text.rotate3d{
      -webkit-writing-mode: initial;
    writing-mode: initial;
    transform: initial;
}
.fb-page-wrapper {
    position: relative;
    left: 0;
    bottom: 1px;
}
.fb-text h3{
  font-size: 25px;
  margin:0;
}
.grass{
  bottom: 490px;
}
.green{
  bottom: 495px;
}
#gallery .gallery-heading {
    margin: auto;
}
.fa-3x {
    font-size: 1em;
}
#contact .contact-logo {
    position: relative;
    z-index: 1;
    width: 80%;
    padding-bottom: 1rem;
}
#contact .list-group-item {
    padding: 8px 0rem;
}
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 767px) and (orientation : landscape) {
.hero-content {
    top: 30%;
    left: 50%;
}
.grass {
    bottom: 380px;
}
.green {
    bottom: 440px;
    height: 150vh;
}
.fa-3x {
    font-size: 1em;
}
}
/* Tablets ----------- */
@media only screen and (min-width: 768px) and (max-width: 992px){
.hero-content {
    top: 15%;
    left: 40%;
}
.intro-img {
    width: 85%;
}
.nav-link{
  font-size: 1rem;
}
.grass {
    bottom: 455px;
}
.green{
  bottom: 500px;
} 
#gallery .gallery-heading {
    margin: auto;
}   
}
/* Tablets (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.hero-content {
    top: 20%;
    left: 35%;
}
.intro-img {
    width: 70%;
}
#about{
  min-height: 80vh;
}
.contact-heading{
  font-size: 1rem;
}
.grass{
  bottom: -115px;
}
.green{
  bottom: 100px;
}
}
/* Laptops ----------- */
@media only screen and (min-width: 1025px){
.hero-content {
    top: 25%;
    left: 28%;
}
.intro-img{
    width: 60%;
}    
}
@media only screen and (min-width: 1281px){
    
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
